language: python
python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
env:
  - DJANGO_VERSION=1.11.29
  - DJANGO_VERSION=2.2.12
#  - DJANGO_VERSION=3.0
# https://docs.djangoproject.com/en/dev/faq/install/#what-python-version-can-i-use-with-django
matrix:
  exclude:
    - env: DJANGO_VERSION=1.11.29
      python: 3.8
    - env: DJANGO_VERSION=3.0
      python: 3.5
addons:
  apt_packages:
    - pandoc
before_install:
    - ./pypi_packager.sh
install:
  - pip install -q django==$DJANGO_VERSION
  - pip install -e .
  - pip install -q coveralls
script:
  - coverage run --source=echoices echoices/tests/__main__.py
after_success:
  - coveralls
